    <div class="container home">
      <header class="codrops-header">
        <h1>Azix*</h1>
<!--         <nav class="codrops-demos">
          <a href="index.html">Home</a>
          <a class="current-demo" href="signup.html">Sign Up</a>
        </nav> -->
      </header>
      <div>
        <p class = "intro"> Azix abstracts away execution and version-control from data analytics by giving the user a simple navigable web interface to run scripts on AWS VMs and easily access and share the output. </p>
      </div>
      <div ng-controller="FormCtrl" class="login">
        <form name="form" autocomplete="off" novalidate shake-that submitted="submitted" submit="submit()">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                Signup or Login
              </h3>
            </div>
            <div class="panel-body">
              <div class="form-group" ng-class="{'has-error': form.email.$invalid && submitted}">
                <label for="email" class="control-label">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  placeholder="Email"
                  ng-model="email"
                  ng-model-options="{updateOn: 'blur'}"
                  required>
              </div>
              <div class="form-group" ng-class="{'has-error': form.password.$invalid && submitted}">
                <label for="password" class="control-label">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  placeholder="Password"
                  ng-model="password"
                  required>
              </div>
              <button type="submit" class="btn right">Submit</button>
            </div>
          </div>
        </form>
      </div>
  <!--     <div ng-controller="FormCtrl" class="signup">
        <form name="form" autocomplete="off" novalidate shake-that submitted="submitted" submit="submit()">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                Signup
              </h3>
            </div>
            <div class="panel-body">
              <div class="form-group" ng-class="{'has-error': form.email.$invalid && submitted}">
                <label for="email" class="control-label">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  placeholder="Email"
                  ng-model="email"
                  ng-model-options="{updateOn: 'blur'}"
                  required>
              </div>
              <div class="form-group" ng-class="{'has-error': form.password.$invalid && submitted}">
                <label for="password" class="control-label">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  placeholder="Password"
                  ng-model="password"
                  required>
              </div>
              <button type="submit" class="btn right">Signup</button>
            </div>
          </div>
        </form>
      </div> -->
    </div>
    </div><!-- /container -->