    <div class="container home">
      <header class="codrops-header">
        <h1>Azix*</h1>
      </header>
      <div>
        <p class = "intro"> Azix abstracts away execution and version-control from data analytics by giving the user a simple navigable web interface to run scripts on AWS VMs and easily access and share the output. </p>
      </div>
      <div class="login">
        <form ng-controller="HomeCtrl" name="form" autocomplete="off" novalidate shake-that submitted="submitted">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                Signup or Login
              </h3>
            </div>
            <div class="panel-body">
              <div class="form-group" >
                <label for="email" class="control-label">Email</label>
                <input
                  class="form-control"
                  placeholder="Email"
                  ng-model="email"
                  required>
              </div>
              <div class="form-group" >
                <label for="password" class="control-label">Password</label>
                <input
                  class="form-control"
                  placeholder="Password"
                  ng-model="password"
                  required>
              </div>
              <button ng-click="addUserFun()" class="btn right" >Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div><!-- /container -->