<h1>{{data.test}}</h1>
<!-- <ul ng-repeat="project in data.projects">
	<li ng-if="project.completed">Project Name: {{project.project}}, Created at: {{project.createdAt}}, Status: {{project.completed}}</li>
	<li ng-if="!project.completed">Project Name: {{project.project}}, Created at: {{project.createdAt}}, Status: Incomplete</li>
</ul> -->


<table ng-table="tableParams" show-filter="true" class="table">
    <tr ng-repeat="project in projects">
        <td data-title="'Project Name'" filter="{ 'project': 'text' }">
            {{project.project}}
        </td>
        <td data-title="'Created at'">
            {{project.createdAt | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a'}}
        </td>
        <td data-title="'Completed at'">
        	{{project.completed | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a'}}
        </td>
    </tr>
</table>
