<h1>{{data.test}}</h1>

<!-- <input name="name" filter="{ 'project': 'text' }"> -->

<table ng-table="tableParams" show-filter="true" class="table">
    <tr ng-repeat="project in projects">
        <td data-title="'Project Name'" filter="{ 'project': 'text' }" sortable="'project'">
            {{project.project}}
        </td>
        <td data-title="'Created at'" sortable="'createdAt'">
            {{project.createdAt | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a'}}
        </td>
        <td data-title="'Completed at'" sortable="'completed'">
        	{{project.completed | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a'}}
        </td>
        <td data-title="'Status'" sortable="'code'">
        	<span ng-if='project.code === 0'>Success</span>
        	<span ng-if='project.code !== 0'>Failed</span>
        </td>
    </tr>
</table>
